@import '_colors'

.button
  border: none
  border-radius: 4px
  font-size: 14px
  padding: 14px
  margin: 8px 0
  cursor: pointer
  //transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out

.button--full
  width: 100% 

.button__red
  color: $whiteColor
  background-color: $redBright
  &:hover
    background: $whiteColor
    color: $redBright
    border: 2px solid $redBright
    padding: 12px
   
.button__border 
  color: $whiteColor
  background-color: transparent
  border: 2px solid $whiteColor
  font-size: 20px
  text-transform: uppercase
  letter-spacing: 2px
  
.button__gray
  color: $grayBright
  background-color: $gray2
  -webkit-box-shadow: 0px 5px 13px -5px rgba(66, 68, 90, 1)
  -moz-box-shadow: 0px 5px 13px -5px rgba(66, 68, 90, 1)
  box-shadow: 0px 5px 13px -5px rgba(66, 68, 90, 1)

.button__standard
  color: $whiteColor
  background-color: $blueBright
  &:hover
      border: 2px solid $blueBright
      color: $blueBright
      background: $whiteColor
      padding-bottom: 12px
      padding-top: 12px