:root 
    --blueBright: hsl(231, 69%, 60%)
    --blueDark: hsl(229, 31%, 21%)
    --redBright: hsl(0, 94%, 66%)
    --grayBright: hsl(229, 8%, 60%)

$blueBright: var(--blueBright)
$blueDark: var(--blueDark)
$redBright: var(--redBright)
$grayBright: var(--grayBright)