@import '_colors'
    
//FOOTER BOTTOM
.footer__bottom
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  margin-top: auto
  padding: 20px
  background: $blueDark

  .footer__logo 
    padding: 20px 10px 10px 10px

  .footer__list 
    list-style: none
    padding: 0
    margin: 0
    display: flex
    flex-direction: column
    align-items: center
  

  .footer__item 
    margin-bottom: 26px
    margin-top: 26px
    display: block
    text-decoration: none
    color: $whiteColor
    text-transform: uppercase

  .footer__item:hover
    color: $redBright

  .footer__social-container 
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 20px
    margin-bottom: 15px

  .footer__social-container a
    text-decoration: none
    padding: 0 10px

  .footer__social-container a 
    &:hover svg path
      fill: $redBright


//FOOTER TOP

.footer__top 
  background-color: $blueBright
  color: $whiteColor
  padding: 64px 32px 32px 32px
  margin-top: 114px

  .footer__contact-form 
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center

    input::-webkit-input-placeholder
      opacity: 0.5

    .footer__form
      position: relative
      width: 100%
      margin-top: 16px

      .footer__error-icon
        position: absolute
        top: 22px
        right: 16px

      .footer__input
        padding: 14px 20px
        font-size: 15px
        width: calc(100% - 40px)
        border: none
        border-radius: 4px
        margin: 8px 0
        outline: none

        &.invalid 
          border: 2px solid $redBright
          box-sizing: border-box
          width: 100%
          padding-right: 40px

    .error-message 
      background: $redBright
      font-size: 12px
      position: relative
      top: -10px
      text-align: left
      font-style: italic
      border-bottom-right-radius: 4px
      border-bottom-left-radius: 4px
      padding: 5px 10px

    p 
      padding: 8px

    .footer__title-one 
      text-transform: uppercase
      font-size: 12px
      letter-spacing: 5px

    .footer__title-two 
      font-size: 22px



@media screen and (min-width: $large+'px')
  .footer__bottom
    flex-direction: row
    justify-content: space-between
    padding: 20px 80px
    .footer__list
      flex-direction: row
  .footer__bottom
    .footer__logo
      padding: 0
      padding-right: 42px
    .footer__item
      margin-bottom: 4px
      margin-top: 0
      font-size: 14px
      padding: 0 21px
    .footer__social-container
      margin-right: 60px
      a
        padding: 0 20px

  .footer__logo-nav
    display: flex
  .footer__navigation-container
    display: flex
    align-items: center

  .footer__contact-form
    max-width: 442px
    margin: auto
    .footer__form
      display: flex
      justify-content: space-between
      .button__red
        width: 126px
        height: 45px
      .footer__img-input
        width: 300px
        position: relative
  
  .footer__top 
    padding: 56px 32px 64px 32px
    .footer__contact-form 
      .footer__title-two
        font-size: 30px
      p
        padding: 18px
  
