@import '_colors'
    
.top-section
  padding-top: 88px
.top-section__buttons-container
  padding: 4px 20px 32px 20px
  display: flex
  justify-content: center
  button
    margin-left: 10px
    margin-right: 10px

@media screen and (min-width: $small+'px')
  .top-section
    padding-top: 150px