@import '_colors'
    
.top-section
  padding-top: 88px
.top-section__buttons-container
  padding: 4px 20px 32px 20px
  display: flex
  justify-content: center
  button
    margin-left: 10px
    margin-right: 10px

@media screen and (min-width: $small+'px')
  .top-section
    padding-top: 150px

@media screen and (min-width: $large+'px')
  .top-section
    display: flex
    flex-direction: row-reverse
    justify-content: space-between
    align-items: center
  .top-section__buttons-container
    justify-content: flex-start
  .top-section__text
    padding-left: 50px
    position: relative
    top: -105px